{{#extends "base"}}
{{#block "content"}}
<div class="container">
    <h1>Items</h1>
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Type</th>
                <th scope="col">Brand</th>
                <th scope="col">Cost</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each items}}
            <tr>
                <td scope="row">{{item.name}}</td>
                <td>{{itemType.name}}</td>
                <td>{{brand.name}}</td>
                <td>{{item.cost}}</td>
                <td>
                    <button role="button" class="btn btn-success">Edit</button>
                    <button role="button" class="btn btn-danger">Delete</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{/block}}
{{/extends}}