{{#extends "base"}}
{{#block "content"}}
<div class="container">
    <h1>Services</h1>
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th scope="col">Service</th>
                <th scope="col">Service Type</th>
                <th scope="col">Staff</th>
                <th scope="col">Cost</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each services}}
            <tr>
                <td scope="row">{{service.name}}</td>
                <td>{{serviceType.name}}</td>
                <td>{{staff.name}}</td>
                <td>{{service.cost}}</td>
                <td>
                    <button role="button" class="btn btn-success">Edit</button>
                    <button role="button" class="btn btn-danger">Delete</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{/block}}
{{/extends}}